@import "tailwindcss";

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro-Text-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-sans: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 24px;

  --color-subtle: var(--theme-subtle);
  --color-default: var(--theme-default);
  --color-strong: var(--theme-strong);
  --color-selected: var(--theme-selected);
  --color-border-subtle: var(--theme-border-subtle);
  --color-app-bg: var(--theme-app-bg);
  --color-sidebar-bg: var(--theme-sidebar-bg);
}

@custom-variant dark (&:is(.dark *));

:root {
  /* Light Mode Tokens */
  --theme-subtle: #71717a;
  --theme-default: #27272a;
  --theme-strong: #000000;
  --theme-selected: #f4f4f5;
  --theme-border-subtle: rgba(0, 0, 0, 0.04);
  --theme-app-bg: #fafafa;
  --theme-sidebar-bg: #ffffff;
}

.dark {
  /* Dark Mode Tokens */
  --theme-subtle: #B5B5B5;
  --theme-default: #EEEEEE;
  --theme-strong: #FFFFFF;
  --theme-selected: #212121;
  --theme-border-subtle: rgba(255, 255, 255, 0.04);
  --theme-app-bg: #0D0D0C;
  --theme-sidebar-bg: #111110;
}



body {
  background-color: var(--theme-app-bg);
  color: var(--theme-default);
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Custom thin scrollbar */
.custom-scroll::-webkit-scrollbar {
    width: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--theme-selected);
    border-radius: 2px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--theme-subtle);
}
